.overlay__save-button {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    bottom: 0;
}

.overlay__save-button:hover {
    background: rgba(0, 0, 0, .8);
    transition: border .1s ease-in-out;
}

.overlay__save-button:disabled {
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: .2;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    cursor: default;
}

@media screen and (max-width: 660px) {
    .overlay__save-button {
        font-size: 14px;
    }
}

.overlay__save-button_confirm {
    top: 60px;
}

.overlay__save-button_avatar {
    top: 150px;
}

@media screen and (max-width: 321px) {
    .overlay__save-button_avatar {
        top: 130px;
    }
}
